/* Gerais */
body{
    font-family: 'Roboto', sans-serif;
}
.row{
    margin: 0;
}
.container{
    padding: 50px 0;
}
p, li{
    color: #444;
    font-size: 14px;
}

/* Barra de Navegação */
header, .navbar{
    background-color: #353D41;
}

.nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 175px;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

#navbar-links a{
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/* Slider/Carrossel */

.container-fluid{
    padding: 0;
}

.d-block{
    filter: brightness(0.5);
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption{
    top: 30%;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}

.main-btn{
    background-color: #65DAF9;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #65DAF9;
}

.carousel-indicators .active{
    background-color: #65DAF9;
}

/* Sobre a empresa */

#about-area{
    background-color: #f9f9f9;
}

.main-title{
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after{
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60%;
    left: 42.5%;
}

#linha::after{
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 140%;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}
.col-md-6 p{
    margin-bottom: 6px;
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
    line-height: 30px;
}

#about-list i{
    color: #65DAF9;
    margin-right: 5px;
}

/* Serviços */

.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4{
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-box:hover > i{
    color: #65DAF9;
}

/* Dados */

.circle-box div{
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p{
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Times */

.card-body{
    text-align: center;
    height: 150px;
}

.card i{
    font-size: 80px;
    color: #444;
    text-align: center;
    padding-top: 20px;
}
.col-md-3{
    padding: 20px;
}

/* Cards Parallax */

#apply-area{
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row{
    height: 100%;
}

#apply-area .apply-box{
    text-align: center;
    padding: 70px 50px;
}

#company-img{
    background-image: url('../img/adm.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p{
    color: #fff;
}

#pattern-img h4{
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img {
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

#apply-btn{
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #fff;
}

#apply-btn:hover{
    border-color: #65DAF9;
    background-color: #65DAF9;
}

/* integ */ 

#integ-area{
    height: 500px;
}

#integ-area .container-fluid, #integ-area .row{
    height: 100%;
}

#integ-area .apply-box{
    text-align: center;
    padding: 70px 50px;
}

#integ-img{
    background-image: url('../img/erps.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p{
    color: #fff;
}

#pattern-img h4{
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img {
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

#apply-btn{
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #fff;
}

#apply-btn:hover{
    border-color: #65DAF9;
    background-color: #65DAF9;
}

/* atacado */ 

#atacado-area{
    height: 500px;
}

#atacado-area .container-fluid, #atacado-area .row{
    height: 100%;
}

#atacado-area .apply-box{
    text-align: center;
    padding: 70px 50px;
}

#atacado-img{
    background-image: url('../img/atacado.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p{
    color: #fff;
}

#pattern-img h4{
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img {
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

#apply-btn{
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #fff;
}

#apply-btn:hover{
    border-color: #65DAF9;
    background-color: #65DAF9;
}

/* Portfolio */

.project-box{
    margin-bottom: 30px;
}

.img-fluid:hover{
    cursor: pointer;
}

#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;
}

#portfolio-area .filter-btn{
    color: #444;
    border: 1px solid transparent;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

.img-fluid{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(68, 68, 68, 0.288);
    border-radius: 8px;
}



#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover{
    color: #fff;
    background-color: #65DAF9;
    border-color: #65DAF9;
}

.pay, .log, .erp{
    display: none;
}

/* newsletter */

#news-area{
    text-align: center;
    background-color: #f9f9f9;
}

#news-area p{
    font-size: 18px;
    margin-bottom: 40px;
}

#email-input{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #65DAF9;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#news-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #65DAF9;
    background-color: #65DAF9;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: .5s;
}

#news-btn:hover{
    background-color: #fff;
    color: #65daf9;
}

/* Call to action */

#call-area{
    background-color: #65DAF9;
    text-transform: uppercase;
}

#call-area .container{
    padding: 40px 100px;
}
#call-area .row{
    display: block;
    text-align: center;
}

#call-area p{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    margin-bottom: 0;
    display: inline;
    height: 60px;
    line-height: 60px;
}

#call-area #call-btn{
    background-color: #fff;
    color: #65DAF9;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    width: 150px;
}