/* Gerais */
body{
    font-family: 'Roboto', sans-serif;
}
.row{
    margin: 0;
}
.container{
    padding: 50px 0;
}
p, li{
    color: #444;
    font-size: 14px;
}

/* Barra de Navegação */
header, .navbar{
    background-color: #353D41;
}

.nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

#logo{
    width: 175px;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

#navbar-links a{
    color: #FFF;
}

.navbar-nav:hover{
    cursor: pointer;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 1rem .8rem;
}

/* Slider/Carrossel */

.container-fluid{
    padding: 0;
}

.d-block{
    filter: brightness(0.5);
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption{
    top: 30%;
}

#mainSlider .carousel-caption h2{
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
}

.main-btn{
    background-color: #65DAF9;
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover{
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #65DAF9;
}

.carousel-indicators .active{
    background-color: #65DAF9;
}

/* Sobre a empresa */

#about-area{
    background-color: #f9f9f9;
}

.main-title{
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
}

.main-title::after{
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60%;
    left: 42.5%;
}

#linha::after{
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 140%;
    left: 42.5%;
}

.about-title{
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}
.col-md-6 p{
    margin-bottom: 6px;
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
    line-height: 30px;
}

#about-list i{
    color: #65DAF9;
    margin-right: 5px;
}

/* Serviços */

.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4{
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-box:hover > i{
    color: #65DAF9;
}

/* Dados */

.circle-box div{
    padding: 0 40px;
}

.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}

#data-area p{
    color: #fff;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Times */

.card-body{
    text-align: center;
    height: 150px;
}

.card i{
    font-size: 80px;
    color: #444;
    text-align: center;
    padding-top: 20px;
}
.col-md-3{
    padding: 20px;
}

/* Cards Parallax */

#apply-area{
    height: 500px;
}

#apply-area .container-fluid, #apply-area .row{
    height: 100%;
}

#apply-area .apply-box{
    text-align: center;
    padding: 70px 50px;
}

#company-img{
    background-image: url('../img/adm.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p{
    color: #fff;
}

#pattern-img h4{
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img {
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

#apply-btn{
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #fff;
}

#apply-btn:hover{
    border-color: #65DAF9;
    background-color: #65DAF9;
}

/* integ */ 

#integ-area{
    height: 500px;
}

#integ-area .container-fluid, #integ-area .row{
    height: 100%;
}

#integ-area .apply-box{
    text-align: center;
    padding: 70px 50px;
}

#integ-img{
    background-image: url('../img/erps.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p{
    color: #fff;
}

#pattern-img h4{
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img {
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

#apply-btn{
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #fff;
}

#apply-btn:hover{
    border-color: #65DAF9;
    background-color: #65DAF9;
}

/* atacado */ 

#atacado-area{
    height: 500px;
}

#atacado-area .container-fluid, #atacado-area .row{
    height: 100%;
}

#atacado-area .apply-box{
    text-align: center;
    padding: 70px 50px;
}

#atacado-img{
    background-image: url('../img/atacado.jpg');
    background-size: cover;
    height: 100%;
}

#pattern-img h4, #pattern-img p{
    color: #fff;
}

#pattern-img h4{
    margin-top: 8%;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#pattern-img {
    display: flex;    
    flex-direction: column;
    justify-content: center;
}

#apply-btn{
    display: block;
    height: auto;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: transparent;
    border-color: #fff;
}

#apply-btn:hover{
    border-color: #65DAF9;
    background-color: #65DAF9;
}

/* Portfolio */

.project-box{
    margin-bottom: 30px;
}

.img-fluid:hover{
    cursor: pointer;
}

#filter-btn-box{
    margin-bottom: 50px;
    text-align: center;
}

#portfolio-area .filter-btn{
    color: #444;
    border: 1px solid transparent;
    background-color: transparent;
    text-transform: none;
    margin: 0 15px;
    min-width: 100px;
    width: auto;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
}

.img-fluid{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(68, 68, 68, 0.288);
    border-radius: 8px;
}



#portfolio-area .filter-btn.active, #portfolio-area .filter-btn:hover{
    color: #fff;
    background-color: #65DAF9;
    border-color: #65DAF9;
}

.pay, .log, .erp{
    display: none;
}

/* newsletter */

#news-area{
    text-align: center;
    background-color: #f9f9f9;
}

#news-area p{
    font-size: 18px;
    margin-bottom: 40px;
}

#email-input{
    border-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 1px solid #65DAF9;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#news-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #65DAF9;
    background-color: #65DAF9;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: .5s;
}

#news-btn:hover{
    background-color: #fff;
    color: #65daf9;
}

/* Call to action */

#call-area{
    background-color: #65DAF9;
    text-transform: uppercase;
}

#call-area .container{
    padding: 40px 100px;
}
#call-area .row{
    display: block;
    text-align: center;
}

#call-area p{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    width: auto;
    margin-bottom: 0;
    display: inline;
    height: 60px;
    line-height: 60px;
}

#call-area #call-btn{
    background-color: #fff;
    color: #65DAF9;
    font-weight: bold;
    font-size: 20px;
    margin-left: 30px;
    width: 150px;
}

/* footer */ 

/* Contact area */

.contact-box{
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #3ec1d5;
    text-align: left;
}

.contact-box h4{
    color: #444;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 70px;
}

.contact-box p{
    margin-left: 70px;
    font-size: 16px;
}

.contact-title{
    font-weight: bold;
    color: #3ec1d5;
}

/* msg box */

#msg-box p{
    font-size: 22px;
}

#msg-box h4{
    font-weight: bold;
}

#contact-form input[type="text"], #contact-form input[type="email"], #contact-form textarea{
    margin-bottom: 15px;
    border-radius: 0;
}

#contact-form .main-btn{
    width: 120px;
    height: 50px;
}

#contact-form .main-btn:hover{
    color: #3ec1d5;
}

/* Copy */

#copy-area{
    background-color: #f1f1f1;
}

#copy-area .container{
    padding: 10px 0;
    text-align: center;
}

#copy-area .container p{
    margin-bottom: 0;
}

#copy-area .container a{
    font-weight: bold;
}

#copy-area .container a:hover{
    text-decoration: none;
    color: #3ec1d5;
}

/* Responsive Tablet */ 

@media(max-width: 768px) {

    /* Geral */ 

    .container{
        padding: 20px 0;
    }

    /* slider */

    #mainSlider .carousel-inner, #mainSlider .carousel-item{
        height: auto;
    }

    #mainSlider .carousel-caption h2{
        font-size: 28px;
    }

    #mainSlider .carousel-caption p{
        font-size: 18px;
        margin-bottom: 40px;
    }

    .carousel-caption{
        left: 10%;
        right: 10%;
    }

    /* about */
    #about-area img{
        margin-top: 100px;
    }

    /* data */
    .circle-box div{
        padding: 0 10px;
    }

    #data-area p{
        font-size: 16px;
    }

    /* times */
    .card-title{
        font-size: 14px;
    }

    .card-text{
        font-size: 12px;
    }

    .card-body{
        height: 180px;
    }

    .col-md-3{
        padding: 10px;
    }

    /* apply */
    #apply-area .apply-box{
        padding: 50px 20px;
    }

    #integ-area .apply-box{
        padding: 50px 25px;
    }

    #atacado-area .apply-box{
        padding: 50px 40px;
    }

    /* newsletter  */
    #news-area p{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #email-input{
        width: 70%;
    }

    /* contact */
    
    .contact-box{
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: 1px solid #3ec1d5;
        text-align: left;
    }
    
    .contact-box h4{
        color: #444;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-left: -10px;
    }
    
    .contact-box p{
        margin-left: -10px;
        font-size: 16px;
        margin-bottom: 3px;
        
    }
    
    .contact-title{
        font-weight: bold;
        color: #3ec1d5;
    }

    #msg-box h4{
        width: 350px;
    }

    

}

/* Mobile */

@media(max-width: 425px) {

    /* slider */
    #mainSlider{
        margin-top: 76px;
    }

    #mainSlider .carousel-caption{
        top: 20%;
    }

    #mainSlider .carousel-caption h2{
        font-size: 18px;
        margin-bottom: 40px;
    }

    #mainSlider .carousel-caption p{
        display: none;
    }

    .carousel-caption .main-btn{
        font-size: 14px;
    }

    /* Sobre */
    .main-title{
        font-size: 30px;
    }

    #about-area img{
        margin-top: 0;
        margin-bottom: 30px;
    }

    /* data */
    .circle-box{
        width: 50%;
    }

    /* times */
    #team-area .col-md-3{
        width: 50%;
    }

    .card-body{
        height: 145px;
    }

    .card-title{
        font-size: 18px;
    }

    .card-text{
        font-size: 14px;
    }

    /* cards parallax */
    #apply-area{
        height: auto;
    }

    #company-img, #integ-img, #atacado-img{
        display: none;
    }

    #apply-area .row{
        margin: 20px;
    }

    #integ-area .row{
        margin: 20px;
    }

    #atacado-area .row{
        margin: 20px;
    }

    #integ-area .apply-box{
        padding: 50px 5px;
    }

    #atacado-area .apply-box{
        padding: 50px 5px;
    }

    /* filtro */
    #portfolio-area .filter-btn{
        margin-bottom: 20px;
    }

    .project-box{
        width: 50%;
    }

    #filter-btn-box{
        margin-bottom: 20px;
    }

    /* newsletter */
    
    #news-area .main-title{
        font-size: 24px;
    }

    #news-area p{
        font-size: 16px;
    }

    #email-input{
        width: 80%;
    }

    /* call to action */

    #call-area p, #call-area #call-btn{
        font-size: 15px;
        letter-spacing: 0;
        margin: 0;
        width: 50%;
    }

    #call-area .container{
        padding: 40px 20px;
    }

    /* contato */
    
    .contact-box{
        padding-bottom: 50px;
        margin-bottom: 50px;
        border-bottom: none;
        text-align: left;
        margin-bottom: 0;
    }
    
    .contact-box h4{
        color: #444;
        text-align: left;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
        margin-left: 30px;
    }
    
    .contact-box p{
        margin-left: 30px;
        font-size: 18px;
        margin-bottom: 3px;
        
    }
    
    .contact-title{
        font-weight: bold;
        color: #3ec1d5;
    }

    #msg-box h4{
        width: 350px;
    }

    #contact-form .main-btn{
        width: 150px;
    }

}

/* fim. */ 